@import '../../styles/mixins';
@import '../../styles/variables';

.loader {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex(1);
  width: 100%;
  height: 100%;

  &--overflow {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .3);
  }

  & svg {
    fill: $blue-60;
    width: 70px;
    height: 70px;
  }
}
