@import "../../styles/mixins";
@import "../../styles/variables";

.error-component {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex(1);
  height: 100%;

  &__container {
    @include flexbox();
    @include flex-direction(column);
    width: 100%;
    max-width: 900px;
    padding: 20px;
  }

  &__label, &__text, &__icon {
    text-align: center;
  }

  &__icon {
    & svg {
      fill: $red-60;
      width: 65px;
      height: 65px;
    }
  }

  &__label {
    margin: 20px 0;
  }
}
