@import '../../../common/styles/mixins';

.modal-stack {
  @include flexbox();
  @include flex-direction(column);
  z-index: 100;

  &__overflow-wrapper-class {
    overflow: hidden;
  }

  &__wrapper {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 300;
  }

  &__container {
    @include flexbox();
    @include align-items(center);
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  &__block {
    margin: auto;
  }
}
