@import '../../styles/mixins';
@import '../../styles/variables';

.error-wrapper {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: $background-secondary;

  &__red {
    color: $red-60;
  }

  &__container {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    padding: 20px;
    border: 1px solid $grey-10;
    background-color: $white;
    width: 1000px;
    height: 460px;
  }

  &__title {
    @include flex(0, 0, auto);
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $grey-20;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  &__info {
    @include flex(1, 0, auto);
    background-color: $background-secondary;
    padding: 10px;
    border: 1px solid $grey-10;
    overflow: auto;
    height: calc(100% - 73px);
  }
}
