@import '../../../../common/styles/mixins';
@import '../../../../common/styles/variables';

.offline-page {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex(1);
  width: 100%;
  height: 100%;

  &__container {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    padding: 24px;

    & svg {
      fill: $blue-60;
      width: 65px;
      height: 65px;
      margin-bottom: 24px;
    }
  }
}
